hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

button {
    background-color: #27292a;
    color: var(--main-color);
    border: 3px solid rgba(var(--main-color-rgb), 0.1);
    border-radius: 15px;
    font-family: inherit;
    outline: none;
    cursor: pointer;
}

button:hover {
    border: 3px solid rgba(var(--main-color-rgb), 0.5);
}

.card {
    background-color: #27292a;
    border: 1px solid #2d2f30;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 25px;
}

.subheader {
    display: block;
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.card hr {
    border: none;
    border-bottom: 1px solid gray;
    margin: 15px 0;
}

#search-container {
    display: none;
    margin: 100px 15%;
    margin-top: 75px;
    padding: 20px;
    width: 70%;
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.2);
}

#player {
    font-family: inherit;
    border: 1px solid gray;
    padding: 3px 5px;
    color: lightgray;
    font-size: 1.1em;
    background-color: #191b1d;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    margin-top: 40px;
}

#player:hover {
    border-color: var(--main-color);
}

#player:focus {
    border-color: var(--main-color);
}

#search {
    display: block;
    padding: 10px;
    font-size: 1.2em;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
}

#loading {
    display: block;
    margin: 20% auto;
}

#main {
    display: none;
}

#back-link {
    position: relative;
    top: 15px;
    left: 20px;
}

#data {
    display: flex;
    justify-content: space-between;
}

#profile {
    display: inline-block;
    white-space: nowrap;
    margin: 25px 20px;
}

#playername {
    font-size: 1.5em;
    margin-bottom: 25px;
    font-weight: bold;
}

#stats {
    flex-grow: 1;
    margin: 25px 20px;
    min-width: 0;
}

.collapsible {
    margin-bottom: 15px;
}

.collapsible h3 {
    background-color: #2d2f30;
    padding: 15px 20px;
    margin: 0;
    border-radius: 5px 5px 0 0;
    transition: border-radius 0.4s;
}

.collapsible h3:after {
    content: "\02795";
    float: right;
    margin-left: 5px;
}

.collapsible h3:not(.active) {
    border-radius: 5px;
}

.collapsible h3:not(.active) + div {
    border: 0px solid #2d2f30;
}

.content {
    max-height: 0;
    padding: 0 20px;
    overflow-y: hidden;
    transition: all 0.4s ease-in;
    border-radius: 0 0 5px 5px;
}

.active:after {
    content: "\2796" !important;
}

.active + .content {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 15px;
}

thead tr {
    font-weight: bold;
    border-bottom: 1px solid gray;
}

tr {
    border-bottom: 1px solid #484b4c;
}

tbody tr:first-child td {
    padding-top: 10px;
}

td {
    padding: 5px 0;
}

td:first-of-type {
    font-weight: bold;
    border-right: 1px solid #353738;
    width: 70px;
}

td:first-of-type + td {
    padding-left: 15px;
}

#loadingTemplate {
    display: none;
}

.loadingCard {
    background-color: #27292a;
    border: 1px solid #2d2f30;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 25px;
    position: relative;
}

.loadingCard hr {
    border: none;
    border-bottom: 1px solid gray;
    margin: 15px 0;
}

.loadingCollapsible {
    margin-bottom: 15px;
    position: relative;
    background-color: #27292a;
    border-radius: 5px 5px;
    padding: 15px 20px;
}

.loadingCollapsible h3 {
    height: 23px;
    background-color: #38393a;
    margin: 0;
    border-radius: 5px;
}

.loadingText {
    height: 18px;
    background-color: #38393a;
    margin: 10px 0;
    border-radius: 5px;
}

.loadingCollapsible::after {
    content: " ";
    background: linear-gradient(100deg, rgba(255,255,255,0) 25%, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0) 75%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    animation: shine 2s linear 0s infinite normal;
    clip-path: inset(0 100% 0 0);
}

.loadingCard::after {
    content: " ";
    background: linear-gradient(100deg, rgba(255,255,255,0) 25%, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0) 75%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    animation: shine 2s linear 0s infinite normal;
    clip-path: inset(0 100% 0 0);
}

@keyframes shine {
    0% {
        left: calc(100% * -1);
        clip-path: inset(0 0 0 100%);
    }
    25% {
        clip-path: inset(0 0 0 0);
    }
    50% {
        clip-path: inset(0 100% 0 0);
        left: 100%;
    }
}